{% extends "dapricot/base.html" %}
{% load daaccounts_tags %}

{% block header %}
<nav>
	<ul class="menu-site">
		<li>
			<a href="{% url 'home' %}" class="icon-home" ></a>
			<ul>
				<li>
					<a href="{% url 'code' %}" class="icon-code"></a>
				</li>
				<li>
					<a href="{% url 'cycling' %}" class="icon-flash" ></a>
				</li>
				<li>
					<a href="{% url 'music' %}" class="icon-note-beamed"></a>
				</li>
				<li>
					<a class="disabled icon-leaf"></a>
				</li>
				<li>
					<a class="disabled icon-water"></a>
				</li>
			</ul>
		</li>
		<li>
			{% block current_page %}{% endblock %}
		</li>
		{% user_menu %}
	</ul>

</nav>
{% endblock %}
{% block footer %}
<script async defer data-website-id="f76d860f-56d2-4239-a481-e1fc56a0cae6" src="https://analytics.orishiku.com/umami.js"></script>
{% endblock %}