{% extends "base.html" %}
{% load static %}
{% load dacommon %}
{% load daaccounts_tags %}

{% block current_page %}
<a  class="icon-code">Code enthusiast</a>
{% endblock %}

{% block main %}

<article class="grid-home">
	<div class="container">
		<div class="box title">
			<a href="https://github.com/orishiku" class="button icon-github" target="_blank">Github</a>
			<a href="https://gitlab.com/orishiku" class="button icon-gitlab" target="_blank">Gitlab</a>
			<a class="card-primary box  autoheight" href="https://gitlab.com/orishiku/odc" target="_blank">
				<strong class="icon-gitlab">Orishiku dot Com</strong>
				<p>This very website</p>
				<p><img alt="Latest Release" src="https://gitlab.com/orishiku/odc/-/badges/release.svg" /> <img alt="pipeline status" src="https://gitlab.com/orishiku/odc/badges/main/pipeline.svg" /></p>
			</a>
			<a class="card-primary box  autoheight" href="https://gitlab.com/softapricot/django_apricot" target="_blank">
				<strong class="icon-gitlab">Django Apricot</strong>
				<p>Utilities for django projects</p>
				<p><img alt="Latest Release" src="https://gitlab.com/softapricot/django_apricot/-/badges/release.svg" /> <img alt="pipeline status" src="https://gitlab.com/softapricot/django_apricot/badges/main/pipeline.svg" /></p>
			</a>
			<a class="card-primary box  autoheight" href="https://gitlab.com/orishiku/exchangeratedemo" target="_blank">
				<strong class="icon-gitlab">ExchangeRateDemo</strong>
				<p>Simple API demo</p>
			</a>

		</div>
		<div class="box avatar">
			<img src="{% static 'media/avatar.png' %}">
		</div>
	</div>
</article>
{% endblock %}
