{% extends "base.html" %}
{% load static %}
{% load dacommon %}
{% load daaccounts_tags %}
{% load dafitness %}

{% block current_page %}
<a  class="icon-flash">Just another cyclist</a>
{% endblock %}

{% block main %}

<article class="grid-home">
	<div class="container">
		<div class="box title">
			<div class="autoheight full box">
				{% strava_badge user="admin"|get_user %}
				<a class="button-spotify autoheight icon-spotify" href="spotify:episode:5wZjR9r6uP2l01CWd6tTEj?si=MUIcUHlvRga6aPjwP_NcvA">
					I was a guest on a podcast (ES)</i>
				</a>
				<a class="button-strava" href="{% url 'race_me' %}">Compare your week stats with mine</a>
			</div>
			
			<div class="autoheight half box">
				<div class="card-strava box autoheight">
					<h3 class="icon-ride">My Bikes</h3>
				</div>
				{% bikes_cards user="admin"|get_user %}
			</div>
			
			<div class="autoheight half box">
			{% current_total_stats user="admin"|get_user %}
			</div>

		</div>
		<div class="box avatar">
			<img src="{% static 'media/avatar.png' %}">
			<a class="card-strava box autoheight icon-gitlab" href="https://gitlab.com/softapricot/django-apricot-fitness" target="_blank">
				Check out the Strava integration here
			</a>
		</div>
	</div>
</article>
{% endblock %}	
