{% extends "base.html" %}
{% load static %}
{% block main %}

<article class="grid-home">
	<div class="container">
		<div class="box title">
			<div class="card-primary autoheight">
				<p>
					<h1>Hi, I'm Francisco Prieto</h1>
				</p>
			</div>
			<div class="card autoheight">
				<a class="button-primary huge icon-code" href="{% url 'code' %}">Code enthusiast</a>
				<a class="button-strava huge icon-flash" href="{% url 'cycling' %}">Just another cyclist</a>
				<a class="button-spotify huge icon-note-beamed" href="{% url 'music' %}">Easly distracted by music</a>
				<a class="button-secondary huge disabled icon-leaf">Plant lover</a>
				<a class="button-secondary huge disabled icon-water">Coffe maniac</a>
			</div>
		</div>
		<div class="box avatar">
			<img src="{% static 'media/avatar.png' %}">
		</div>
	</div>
</article>
{% endblock %}	
