{% extends "base.html" %}
{% load static %}
{% load dacommon %}
{% load daaccounts_tags %}
{% load damusic %}

{% block current_page %}
<a  class="icon-note-beamed">Easly distracted by music</a>
{% endblock %}

{% block main %}

<article class="grid-home">
	<div class="container">
		<div class="box title">
			{% spotify_badge user="admin"|get_user %}
			<div class="card-spotify autoheight">
				Being distracted by
			</div>
			{% spotify_currently_playing user="admin"|get_user %}
			<div class="card-spotify autoheight">
				Latest Top Artists
			</div>
			{% spotify_top_artists limit=5  user="admin"|get_user %}
			<div class="card-spotify autoheight">
				Latest Top Songs
			</div>
			{% spotify_top_songs limit=5  user="admin"|get_user %}
		</div>
		<div class="box avatar">
			<img src="{% static 'media/avatar.png' %}">
			<a class="card-spotify box autoheight icon-gitlab" href="https://gitlab.com/softapricot/django-apricot-music" target="_blank">
				Check out the Spotify integration here
			</a>
		</div>
	</div>
</article>
{% endblock %}	
