{% extends "base.html" %}
{% load static %}
{% load dacommon %}
{% load daaccounts_tags %}
{% load dafitness %}

{% block current_page %}
<a  class="icon-flash">Just another cyclist</a>
{% endblock %}

{% block main %}

<article class="grid-home">
	<div class="container">
		<div class="box title">
			<div class="card-primary autoheight box">
				<h2>Current week stats</h2>
			</div>
			<div class="card-strava list box half">
				<h3>Me (orishiku)</h3>
				<p class="strava-item {% if race_info.me.distance > race_info.contender.distance %}icon-trophy{% endif %}">Distance: <strong>{{ race_info.me.distance }} kms</strong></p>
				<p class="strava-item {% if race_info.me.moving_time > race_info.contender.moving_time %}icon-trophy{% endif %}">Moving time: <strong>{{ race_info.me.moving_time }} minutes</strong></p>
				<p class="strava-item {% if race_info.me.total_elevation_gain > race_info.contender.total_elevation_gain %}icon-trophy{% endif %}">Elevation gain: <strong>{{ race_info.me.total_elevation_gain }} mts</strong></p>
				<p class="strava-item {% if race_info.me.max_speed > race_info.contender.max_speed %}icon-trophy{% endif %}">Max speed: <strong>{{ race_info.me.max_speed }} kms/hr</strong></p>
				<p class="strava-item {% if race_info.me.average_speed > race_info.contender.average_speed %}icon-trophy{% endif %}">Average speed: <strong>{{ race_info.me.average_speed }} kms/hr</strong></p>
			</div>
			<div class="card-strava list box half">
				<h3>You ({{race_info.contender.user}})</h3>
				<p class="strava-item {% if race_info.contender.distance > race_info.me.distance %}icon-trophy{% endif %}">Distance: <strong>{{ race_info.contender.distance }} kms</strong></p>
				<p class="strava-item {% if race_info.contender.moving_time > race_info.me.moving_time %}icon-trophy{% endif %}">Moving time: <strong>{{ race_info.contender.moving_time }} minutes</strong></p>
				<p class="strava-item {% if race_info.contender.total_elevation_gain > race_info.me.total_elevation_gain %}icon-trophy{% endif %}">Elevation gain: <strong>{{ race_info.contender.total_elevation_gain }} mts</strong></p>
				<p class="strava-item {% if race_info.contender.max_speed > race_info.me.max_speed %}icon-trophy{% endif %}">Max speed: <strong>{{ race_info.contender.max_speed }} kms/hr</strong></p>
				<p class="strava-item {% if race_info.contender.average_speed > race_info.me.average_speed %}icon-trophy{% endif %}">Average speed: <strong>{{ race_info.contender.average_speed }} kms/hr</strong></p>
			</div>
		</div>
		<div class="box avatar">
			<img src="{% static 'media/avatar.png' %}">
			<a class="card-strava box autoheight icon-gitlab" href="https://gitlab.com/softapricot/django-apricot-fitness" target="_blank">
				Check out the Strava integration <strong>here</strong>
			</a>
		</div>
	</div>
</article>
{% endblock %}	

<div class="card-strava autoheight box">
	<p>Distance: <strong>{{ stats.distance }} kms</strong></p>
	<p>Moving time: <strong>{{ stats.moving_time }} minutes</strong></p>
	<p>Elevation gain: <strong>{{ stats.total_elevation_gain }} mts</strong></p>
	<p>Max speed: <strong>{{ stats.max_speed }} kms/hr</strong></p>
	<p>Average speed: <strong>{{ stats.average_speed }} kms/hr</strong></p>
	<a class="button-strava icon-strava" href="https://www.strava.com"></a>
</div>