@import 'dapricot/scss/reset.scss';
@import 'variables.scss';

@import 'dapricot/scss/mixins/grid.scss';
@import 'dapricot/scss/mixins/helpers.scss';

@import 'dapricot/scss/type.scss';
@import 'dapricot/scss/fonts.scss';
@import 'dapricot/scss/global.scss';

@import 'dapricot/scss/components/buttons.scss';
@import 'dapricot/scss/components/cards.scss';
@import 'dapricot/scss/components/forms.scss';
@import 'dapricot/scss/components/menus.scss';
@import 'dapricot/scss/components/tooltips.scss';

@import 'dapricot/scss/partials/header.scss';
@import 'dapricot/scss/partials/footer.scss';
@import 'dapricot/scss/partials/grid.scss';

body {
	background-image: url(static('media/bg' + random(4) + '.png'));
	background-size: 300px;
	background-repeat: repeat;
	padding-top: 50px;
}
header {
	nav {
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 1000;
	}
}
.grid-home {
	@include columns(12);

	.box {
		.box {
			@include columns(12);
			vertical-align: bottom;
			&:hover {
				text-decoration: none;
			}
		}
		&.title {
			@include columns(8);
			margin-top: 6%;
			@include respond-to('mobile') {
				margin-top: 0px;
			}
			.half {
				@include columns(6);
			}
			&>div {
				@include h1;
				width: 100%;
				margin-bottom: 2%;
			}
		}
		&.avatar {
			@include columns(4);
			&>img {
				width: 100%;
				}
		}
		
		margin-bottom: 2%;

	}
}